In [1]:
'''
1.Write a program to convert specific days into years, weeks, and days.
Take user input.
Note:lgnore leap year.
''';

In [2]:
num = int(input('enter the number of days'))

year = int(num / 365)
week = int((num % 365) / 7)
days = int((num % 365) % 7)

print('total number of years:')
print(year)
print('total number of weeks:')
print(week)
print('total number of days:')
print(days)

enter the number of days 45

total number of years:
0
total number of weeks:
6
total number of days:
3

In [3]:
'''
2. Write a Python program to input basic salary of an employee and
calculate its Gross salary according to following:
Basic Salary <= 10000 : HRA = 20%, DA = 80%
Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95%
''';

In [4]:
basic_salary = int(input('enter the basic salary'))

#   Basic Salary <= 10000 : HRA = 20%, DA = 80%
if basic_salary <= 10000:
    hra = .20 * basic_salary
    da = .80 * basic_salary

#   Basic Salary <= 20000 : HRA = 30%, DA = 90%
elif basic_salary <= 20000:
    hra = .30 * basic_salary
    da = .90 * basic_salary

#   Basic Salary > 20000 : HRA = 35%, DA = 95%
else:
    hra = .35 * basic_salary
    da = .95 * basic_salary

gross_salary = basic_salary + hra +da

print('gross salary is:',gross_salary)

enter the basic salary 1000

gross salary is: 2000.0

In [43]:
'''
3. Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill.
''';

In [1]:
# take user input
units = int(input("enter the number of unit"))

#For first 50 units Rs. 0.50/unit
if units <= 50:
    total_bill = (50 * 0.50)

#For next 100 units Rs. 0.75/unit
elif units <= 150:
    total_bill = (50 * 0.50) + (units - 50) * 0.75

#For next 100 units Rs. 1.25/unit
elif units <= 250:
    total_bill = (50 * 0.50) + (100 * 0.75) + (units - 150) * 1.25

#For unit above 250 Rs. 1.50/unit
else:
    total_bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + (units - 250) * 1.50

#An additional surcharge of 17% is added to the bill.
surcharge = total_bill * 0.17
total_bill = total_bill + surcharge
print("total bill after adding surcharge = ",total_bill)

enter the number of unit 30

total bill after adding surcharge =  29.25

In [7]:
'''
4. Write a Python program to print the given number patterns.
1
22
333
4444
55555
''';

In [8]:
row = 5              # or we can take user input "int(input('enter the number of rows'))"
for i in range (1 , row +1 ):
    for j in range(1 , i+1):
        print(i,end = '  ')
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [9]:
'''
5. Write a Python program to calculate product of digits of a number. Read
value of n from user.
''';

In [10]:
num = int(input('enter the number'))
product = 1
while num != 0:
   product = product * (num % 10)
   num = int(num / 10)

print('product of digit is:',num,':',product)

enter the number 12345

product of digit is: 0 : 120

In [11]:
'''
6. Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
oerform following
operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string ‘Hello’ from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append [34, ‘Pune’] to this list.
11. Delete the last element from list
''';

In [21]:
x = [45, 67, 12, 'hello', 23.45, 'world']

In [10]:
#   1. Extract only string values from this list.
x[3]

'hello'

In [11]:
x[5]

'world'

In [12]:
#   2. Create a new list with strings in upper case.
l = ['sakshi', 'pratiksha', 'tanvi']
a = [n.upper() for n in l ]
print(a, end = '  ')

['SAKSHI', 'PRATIKSHA', 'TANVI']

In [15]:
#   3. Find the addition of integer values
sum(x)

147.45

In [16]:
#   4. Check that the value 56 is present in it or not.
56 in x

False

In [17]:
#   5. Print the list in reverse order.
sorted(x,reverse = True)

[67, 45, 23.45, 12]

In [13]:
#   6. Delete the string ‘Hello’ from it.
del x[3]
x

[45, 67, 12, 23.45, 'world']

In [18]:
#   7. Insert a new value of 36 at 5th position in list.
x.insert( 5 , 36)
x

[45, 67, 12, 23.45, 36]

In [24]:
#   8. Count total number of elements in list now.
len(x)

7

In [19]:
#   9. Extract the values from 2nd index to 5th index.
x[2:6]

[12, 23.45, 36]

In [23]:
#   10. Append [34, ‘Pune’] to this list.
x.append([34, 'pune'])
x

[45, 67, 12, 'hello', 23.45, 'world', [34, 'pune']]

In [14]:
#   11. Delete the last element from list
del x[-1]
x

[45, 67, 12, 23.45]

In [25]:
'''
7. Create a tuple of elements with 5 float values in it and perform following
operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in set.

''';

In [26]:
t = (23.33,54.76,67.44,50.78,90.32)
t

(23.33, 54.76, 67.44, 50.78, 90.32)

In [27]:
#  1. Print the data in sorted manner.
sorted(t,reverse = False)

[23.33, 50.78, 54.76, 67.44, 90.32]

In [28]:
#  2. Check to see that the element 50 is present in it.
50 in t

False

In [29]:
#  3. Convert this tuple in set.
t = (1, 2, 3)
s = set(t)
print(t)

(1, 2, 3)

In [30]:
'''
8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and
perform following operations.
1. Access the data at key ‘k’.
2. Add a new values ‘z’: ‘zebra’
3. Replace the contents of ‘d’ as ‘dog’
4. Print all the values from this dictionary.
5. Find the length of this dictionary.

''';

In [31]:
d = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':'king'}

In [32]:
#  1. Access the data at key ‘k’.
d['k']

'king'

In [33]:
#  2. Add a new values ‘z’: ‘zebra’  
d['z'] = 'zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [34]:
#  3. Replace the contents of ‘d’ as ‘dog’
d['d'] = 'dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [35]:
#  4. Print all the values from this dictionary.
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [36]:
#  5. Find the length of this dictionary.
len(d)

6

In [37]:
'''
9. Write a program to find the second largest element in a list.
''';

In [38]:
list = []
n = int(input('enter the number of elements'))
for i in range(1, n+1):
    ele = int(input('enter the elements'))
    list.append(ele)
list.sort()
print('sorted list:',list)
print('the second largest number:',list[n-2])

enter the number of elements 5
enter the elements 10
enter the elements 20
enter the elements 30
enter the elements 40
enter the elements 50

sorted list: [10, 20, 30, 40, 50]
the second largest number: 40

In [39]:
'''
10. This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'.
''';

In [40]:
metals = ['silver','gold','copper','zinc']
metals1 = ['silver','gold','zinc']

In [41]:
print(metals)

['silver', 'gold', 'copper', 'zinc']

In [42]:
print(metals1)

['silver', 'gold', 'zinc']