### LOOPS

In [3]:
 count = 1
while count <= 6:
    print('sakshi')
    count = count + 1

sakshi
sakshi
sakshi
sakshi
sakshi
sakshi

In [4]:
# print number from 5 to 15
num = 5
while num <= 15:
    print(num , end='  ')
    num = num + 1

print("done")

5  6  7  8  9  10  11  12  13  14  15  done

In [5]:
print(num)

16

In [6]:
# print the addition of number from 1 to 10
count = 1
add = 0
while count <= 10:
    add = add + count
    count += 1
print ( 'result is',add)

result is 55

In [7]:
print(count)

11

In [8]:
# print the addition of all odd numbers from 1 to 20
count = 1
add = 0
while count <= 20:
    add = add + count
    count += 2
    
print ( 'result is',add)

result is 100

In [9]:
# write a program for factorial
num = 1
fact = 1
while num <= 5 :
    fact = fact * num
    num = num + 1
    
print ('factorial is',fact)

factorial is 120

In [10]:
# else
# write a program for factorial
num = 1
fact = 1
while num <= 5:
    fact = fact * num
    num = num + 1
else:
    print('loop ended')
    
print ('factorial is',fact)

loop ended
factorial is 120

In [12]:
# print the sum of digit in a number

num = int(input('enter the number'))
sum = 0
while num > 0:
   digit = num % 10
   sum += digit
   num = num // 10

print('addition of digit is:',sum)

enter the number 1234

addition of digit is: 10

### FOR LOOP

In [13]:
for n in 12 , 34 , 45 , 24 , 'sakshi':
    print(n , end = '  ')

12  34  45  24  sakshi

In [14]:
#print the half value of numbers
for n in 12 , 34 , 45 , 24 , :
    n = n/2
    print(n , end = '  ')

6.0  17.0  22.5  12.0

### RANGE FUNCTION

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(5 , 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
list(range(5 , 20 , 2))       #(START , END + 1 , STEP)

[5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
for n in range(1 , 11):
   print (n, end = '  ')

1  2  3  4  5  6  7  8  9  10

In [19]:
#print odd no
for n in range(1 , 21 , 2):
   print (n, end = '  ')

1  3  5  7  9  11  13  15  17  19

In [20]:
# addition of odd number from 1 to 20
add = 0
for n in range(1 , 21 , 2):
    add = add + n

print(add)

100

In [21]:
#print name 10 times using for loop
for n in range (1 , 11):
     print ('sakshi' , end = '  ')

sakshi  sakshi  sakshi  sakshi  sakshi  sakshi  sakshi  sakshi  sakshi  sakshi

In [24]:
#print name 1 by 1 using for loop
for n in 'sakshi':
    print(n, end = '  ')

s  a  k  s  h  i

In [25]:
#print name 1 by 1 but 3 times using for loop
for n in 'sakshi':
    print(n * 3 , end = '  ')

sss  aaa  kkk  sss  hhh  iii

In [26]:
#find factorial of a number using for loop take user input
num = int(input('enter number'))
fact = 1
for n in range(1 , num + 1):
    fact = fact * n
    
print('factorial is:',fact)

enter number 5

factorial is: 120

### BREAK STATEMENT

In [27]:
for n in range(1, 10):
    if n == 5:
        break
    print(n, end = '  ')

1  2  3  4

In [28]:
for n in range(1, 10):
    if n == 5:
        continue
    print(n, end = '  ')

1  2  3  4  6  7  8  9

In [29]:
# print odd number using continue statement
for n in range(1, 10):
    if n % 2 == 0:
        continue
    print(n, end = '  ')

1  3  5  7  9

### PASS

In [31]:
num = 5 #it is doing nothing
if num > 1:
    pass

In [32]:
'''
*
**
***
''';
row = int(input('enter the no of rows'))
for i in range (1 , row +1 ):
    for j in range(i):
        print('*',end = '  ')
    print()

enter the no of rows 5

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *