In [2]:
#create a class

class Employee():
    pass

In [3]:
# create object

emp1 = Employee()
emp2 = Employee()

In [6]:
#instance of a class

print(emp1)
print(emp2)

<__main__.Employee object at 0x000001BF0B441650>
<__main__.Employee object at 0x000001BF0B441B50>

In [9]:
# instance variables (put the attribute)

emp1.first = 'sakshi'
emp1.last = 'daphal'
emp1.salary = 50000

emp2.first = 'madhuri'
emp2.last = 'limgude'
emp2.salary = 70000

In [10]:
#access the attributes

print(emp1.first)

sakshi

In [11]:
print(emp2.salary)

70000

In [35]:
# constructor (self keyword doing the same work as this keyword)
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def show(self):
        print(self.first +' '+'ok')

In [36]:
emp1=Employee('raj','sharma',45000)

In [37]:
print(emp1.first)

raj

In [38]:
print(emp1.last)

sharma

In [39]:
emp2 = Employee('rajwardhan','shinde',55000)

In [40]:
print(emp2.first)

rajwardhan

In [41]:
print(emp2.salary)

55000

In [42]:
emp3 = Employee('sagar','maske',65000)

In [43]:
print(emp3.first)

sagar

In [44]:
print(emp3.last)

maske

In [46]:
emp1.show()

raj ok

In [47]:
emp2.show()

rajwardhan ok

In [48]:
emp3.show()

sagar ok

### ENCAPSULATION

In [105]:
class Employee1():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.__salary = salary  #private variable  # if we dont wsnt to access salary
        
    def show(self):
        print(self.__salary) # if we want to show salary

In [106]:
emp1=Employee1('raj','sharma',45000)
emp2 = Employee1('rajwardhan','shinde',55000)

In [107]:
print(emp1.first)

raj

In [108]:
print(emp1.last)

sharma

In [109]:
print(emp1.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [110]:
emp1.show()

45000

### INHERITANCE

In [118]:
class Employee2(Employee1): # interite the properties of parent class
    pass                    # Employee1 => super class and Employee2 => sub class

In [119]:
emp4 = Employee2('neha','kulkarni',50000)

In [120]:
emp4.show()

50000

In [205]:
'''
create a class called person
attribute => name , age, city....(make usenof default parameter also)
create a method which will show all the info of a person
''';
class Person():
    def __init__ (self,name,city,age = 25,):
        self.name = name
        self.city = city
        self.age = age
        
    def show1(self):
        print(self.name)
        print(self.city)
        print(self.age)

In [206]:
p1 = Person('raj','pune',30)
p2 = Person('rajwardhan','mumbai',)

In [207]:
print(emp5.name)

raj

In [208]:
p1.show1()

raj
pune
30

In [209]:
p2.show1()

rajwardhan
mumbai
25